/* Home.css */

/* Contenitore principale della home */
.home-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--body-bg-color); /* Usa la variabile del tema */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Sezioni */
section {
  margin-bottom: 60px;
  padding: 20px;
  background-color: var(--body-bg-color); /* Usa la variabile del tema */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section:nth-of-type(even) {
  background-color: var(--body-bg-color-alt); /* Colore di sfondo alternato */
}

/* Titoli delle sezioni */
section h2 {
  font-size: 2.5rem;
  color: var(--text-color); /* Colore del testo */
  margin-bottom: 10px;
}

/* Testo delle sezioni */
section p {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.6;
}

/* Stili su dispositivi mobili */
@media (max-width: 768px) {
  section {
    margin-bottom: 40px;
    padding: 10px;
  }

  section h2 {
    font-size: 2rem;
  }

  section p {
    font-size: 0.9rem;
  }
}